[package]
name = "kernel"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
talc = { workspace = true }

ftl_types = { workspace = true }
ftl_utils = { workspace = true }
ftl_bump_allocator = { workspace = true }
ftl_arrayvec = { workspace = true }
